# Exploratory Analysis of the Dataset

In [3]:
import pandas as pd

df = pd.read_csv('../data/train.csv')

In [4]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN

# Aortic Enlargement

In [5]:
ae_df = df.query("class_name == 'Aortic enlargement'")
print(ae_df.shape)

(7162, 8)

Lista de imagens que contêm Aortic Enlargement (sem repetidos)

In [6]:
unique_ae_images = ae_df['image_id'].unique()
print(type(unique_ae_images))
print(len(unique_ae_images))

<class 'numpy.ndarray'>
3067

Lista de imagens que contêm esta lesão para um ficheiro txt

In [7]:
output_file = open('aortic_enlargement.txt', 'w')
unique_ae_images = ["{}\n".format(image_id) for image_id in unique_ae_images]
output_file.writelines(unique_ae_images)
output_file.close()

In [9]:
ae_df.query('image_id == "00aca42a24e4ea6066cca2546150c36e"').head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
201,00aca42a24e4ea6066cca2546150c36e,Aortic enlargement,0,R9,1526.0,769.0,1826.0,1118.0
4379,00aca42a24e4ea6066cca2546150c36e,Aortic enlargement,0,R10,1501.0,776.0,1821.0,1101.0
27559,00aca42a24e4ea6066cca2546150c36e,Aortic enlargement,0,R8,1506.0,790.0,1831.0,1218.0

## Cardiomegaly

In [12]:
cardio_df = df.query("class_name == 'Cardiomegaly'")
print(cardio_df.shape)

(5427, 8)

Lista de imagens que contêm Aortic Enlargement (sem repetidos)

In [16]:
unique_cardio_images = cardio_df['image_id'].unique()
print(type(unique_cardio_images))
print(len(unique_cardio_images))
print(unique_cardio_images)

<class 'numpy.ndarray'>
2300
['9a5094b2563a1ef3ff50dc5c7ff71345' '0622cd29e4e0e4f198abf15614819ae8'
 '4016b176eaf40d514b0559a0aeb48f21' ... 'e0ad8549835ae5a3208c03ce618e79a0'
 'e6a9b0eb532d8aab0ce29b787d81614b' '1691ab3a82040297355b59a34c1e3fa9']

## Pulmunary Fibrosis

In [14]:
pulmo_df = df.query("class_name == 'Pulmonary fibrosis'")
print(pulmo_df.shape)

(4655, 8)

Lista de imagens que contêm Aortic Enlargement (sem repetidos)

In [15]:
unique_pulmo_images = pulmo_df['image_id'].unique()
print(type(unique_pulmo_images))
print(len(unique_pulmo_images))

<class 'numpy.ndarray'>
1617